version 3.35.1

source https://nuget.org/api/v2

// Code
nuget FSharp.Core ~> 4 redirects: force

// Unit tests
nuget Expecto
nuget Expecto.VisualStudio.TestAdapter version_in_path: true
nuget FSharpLint.MSBuild

// Build infrastructure
nuget FAKE ~> 4.2
nuget SourceLink.Fake ~> 1.1
github fsharp/FAKE modules/Octokit/Octokit.fsx
